#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  box-shadow: 0 8px 16px 0 #999999;
  background: #eff5f5;
  /* box-shadow: 0 8px 32px 0 #497174; */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 12px;
  background-color: #eff5f5;
  overflow: hidden;
}
